body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
  min-width: 350px;
}
h1, h2{
  margin-bottom: 0;
}
.container{
  max-width: 1200px;
  margin-inline: auto;
}

header{
  text-align: center;
}

article{
  cursor: pointer;
}
.articles-wrap{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.active{
  color: red;
  text-decoration: none;
}

.pagination{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.search{
  position: relative;
  &-results{
    ul{
      text-decoration: none;
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      li{
        cursor: pointer;
      }
    }
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 0px;

    background-color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 8px;
    box-shadow: 0 0 5px black;
  }
}